* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 30px auto;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: fit-content;
  margin: 20px;
}

.for-border {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: rgb(156, 4, 4);
  font-size: 24px;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 700;
}

label {
  font-size: 24px;
}

.val-display {
  font-size: 24px;
  width: 100px;
  text-align: center;
}
